.header-inner {
    min-height: 56px;
    text-align: center;
    background-color: white;
    box-shadow: -2px 2px 2px 0 rgba(0,0,0,.12);
}

img[src*="gs-logo.png"] {
    max-height: 42px;
    margin: 10px;
}